body{
    margin-left: 15%;
    margin-right: 15%;

}

.container{
    
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}   
 
.container div{
    padding: 10px;
    border:1px solid #000000;
}

.header{
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.computerSelection{
    grid-column-start: 1;
    column-span: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

.playerOptions{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-evenly;
}

.computerOptions{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: space-evenly;
}

.combatLog{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

}
.combatLogText{
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    width: 200px;
    height: 240px;
  }

.playerOptions img:hover {  
      transform: scale(1.1);
      border:2px solid red;  
      box-shadow: 0 0 10px #333;  
      -webkit-box-shadow: 0 0 10px #333;  
      -moz-box-shadow: 0 0 10px #333;  
      -o-box-shadow: 0 0 10px #333;  
      -ms-box-shadow: 0 0 10px #333;
      cursor: pointer;
    }

.selected {  
        transform: scale(1.1);
        border:2px solid red;  
        box-shadow: 0 0 10px #333;  
        -webkit-box-shadow: 0 0 10px #333;  
        -moz-box-shadow: 0 0 10px #333;  
        -o-box-shadow: 0 0 10px #333;  
        -ms-box-shadow: 0 0 10px #333;
        cursor: pointer;
      }


.playerScore{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 175px;
    font-weight: bold;
}

.computerScore{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 175px;
    font-weight: bold;
}